name: variables and secrets
env: 
  WF_VAR: "Workfolow level variable"
  


on:
  push:


jobs:
  test_expressions:
    name: test expressions
    runs-on: ubuntu-latest
    env:

      aBoolean: ${{ false }}
      aNull: ${{ null }}
      aNumber: ${{ 244 }}
      aString: this is a string

    steps:
      - name: test null
        if: (env.aNull == null)
        run: echo this is a null variable

      - name: test boolean
        #if: (env.aBoolean == 'true' || env.aBoolean == 'false')
        if: ${{ fromJSON(env.aBoolean) }}
        run: this job will not run since the boolean is false

      - name: contains function
        if: ${{ contains(env.aString,"this") }}
        run: |
          echo "our string var contains the word 'this' "
          echos "some"

      - name: failure status check and format function
        if: ${{ failure() }}
        env:
          FROMAT_ENV: ${{ format('Github {0} {1} {2}','actions','are','amazing!') }}
        run: |
          echo "this step runs a special script to clean up after the failed step"
          echo ${{ env.FROMAT_ENV }}
          
      - name: function and always status check
        if: ${{ startsWith(env.aString,"this") && always() }}
        run: sleep 60

      - name: test cancel check status
        if: ${{ cancelled() }}
        run: |
          echo "this job is active when a workflow is cncelled"
        
        
        
  
  test_variables:
    if: (github.event_name == "pull_request")
    env:
      JOB_VAR: "Job level variable"
  
    name: test variables
    runs-on: ubuntu-latest
    steps:
      - name: test variables
        id: stepVar
        env:
          STEP_VAR: "Step level variable"
        run: |
          echo ${{ github.actor }}
          echo $GITHUB_JOB
          echo $WF_VAR
          echo $JOB_VAR
          echo $STEP_VAR
          echo ${{ vars.CONF_VAR }}
          echo ${{ secrets.A_SECRET }}
          
  
  
